{:title "UML viewer"
 :src "src"
 :prefix "uml-viewer"
 :lang :clojure
 :out "examples/uml-viewer.edn"
 :hierarchical true
 :foreign [quil javax.swing]
 :order [main adapters application engine source graph clojure-language languages domain]
 :levels [[domain source graph clojure-language languages]
          [engine]
          [application]
          [adapters]
          [main]]
 :edge-kinds {[:engine.compose :engine.layout] :association
              [:engine.compose :engine.route] :association
              [:adapters.core :adapters.sketch] :association
              [:application.document :engine.compose] :association
              [:application.document :domain.hierarchy] :association
              [:main :adapters] :association
              [:main :clojure-language] :association
              [:main :application] :association
              [:main.uml-viewer :adapters.core] :association
              [:main.uml-viewer :clojure-language.source-clojure] :association
              [:main.ir-generator :application.ir-generator] :association
              [:main.ir-generator :clojure-language.graph-clojure] :association
              [:main.ir-generator :languages.external] :association
              [:main.uml-viewer :languages.external] :association
              [:main.discover :languages.external] :association
              [:main.metrics :languages.external] :association}}
